parameters:
    bootstrap: %rootDir%/../../../tests/phpstan.php

    excludes_analyse:
        - %rootDir%/../../../scripts/Phalcon/Generator/*
        - %rootDir%/../../../scripts/Phalcon/Exception/*
    ignoreErrors:
        - '#Call to an undefined method object::toArray().#'
        - '#supplied for foreach, only iterables are supported#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::addMinor().#'
